*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'open sans',sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.streak-name-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 10%;
    background-color: #f6f6f6;
    border-radius: 50px;
}

.streak-name-edit input{
    width: 65%;
    height: 60%;
    font-size: 150%;
    border:none;
    border-bottom: 3px solid black;
    outline: none;
    background-color: #f6f6f6;
    color: #857a7a;
    margin-left: 2%;
}

.streak-name-edit input[type="text"], textarea{
    background-color: #f6f6f6;
}

.emoji{
    height: 60%;
    width: 5%;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.emoji:active{
    transform: translateY(4px);
}

.add-button{
    background-color: black;
    color: white;
    font-size: 100%;
    height:60%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}

.add-button:active{
    transform: translateY(4px);
}

.banner{
    width: 100%;
    height: 9%;
    background-image: linear-gradient(
    to right,#e92efb,#ff2079,#440bd4,#04005e);
    background-size: 300%;
    background-image: -100%;
    animation : backgroundShift 5s infinite alternate-reverse
}

.banner img{
    width: 15%;
    height: 60%;
    margin-left: 3%;
    margin-top: 1.0%;
}

.streak-container{
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
    to right,#e92efb,#ff2079,#440bd4,#04005e);
    background-size: 300%;
    background-image: -100%;
    animation : backgroundShift 5s infinite alternate-reverse
}

@keyframes backgroundShift{
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

.streak-box{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.streak-number{
    width: 100%;
    height: 50%;
    background-color: #f6f6f6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    border:none;
}

.streak-name{
    width: 100%;
    height: 20%;
    background-color: #1e1e1e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
}

.streak-number p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 650%;
    background-image: linear-gradient(
    to right,#e92efb,#ff2079,#440bd4,#04005e);
    color: transparent;
    background-size: 300%;
    background-image: -100%;
    animation : backgroundShift 5s infinite alternate-reverse;
    background-clip: text;
    -webkit-background-clip: text;
    border:none;
}

.add-minus-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    border:none;
}

.plus{
    display: inline-block;
    width: 70px;
    height: 70px;  
    cursor: pointer;
    margin-right: 5%;
    margin-left: 5%;
}

.plus:active{
    transform:translateY(4px)
}

.minus{
    display: inline-block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 5%;
    margin-left: 5%;
}

.minus:active{
    transform: translateY(4px);
}

.streak-name h1{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 150%;
    width: 100%;
}

.pencil_box{
    background-color: #f6f6f6;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border:none;
}

.pencil{
    display: inline-block;
    width: 25px;
    height: 25px;
    color: black;
    margin-right: 1%;
}

.pencil:hover{
    cursor: pointer;
}

.pencil:active{
    transform:translateY(2px)
}

.add-container{
    border-color: white;
    border-radius: 25px;
    border-style: solid;
    color: white;
    width: 6%;
    height: 4%;
    text-align: center;
    font-size: 150%;
    margin-top: 8%;
    cursor: pointer;
}

.add-container:active{
    transform: translateY(4px);
}

.color_container{
    float: right;
    margin-right: 3%;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.color_pallete_one{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    135deg,#e92efb,#04005e);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_one:active{
    transform: translateY(4px);
}

.color_pallete_two{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    135deg,#ddd429,#0310ea);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_two:active{
    transform: translateY(4px)
}

.color_pallete_three{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    135deg,#b9b605,#f21a1d);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_three:active{
    transform: translateY(4px)
}

.color_pallete_four{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    135deg,#e300fc,#ce0000);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_four:active{
    transform: translateY(4px)
}

.color_pallete_five{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    135deg,#bdbdfd,#00218a);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_five:active{
    transform: translateY(4px)
}