*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'open sans',sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.banner{
    width: 100%;
    height: 9%;
    background-image: linear-gradient(
    to right,#e92efb,#ff2079,#440bd4,#04005e);
    background-size: 300%;
    background-image: -100%;
    animation : backgroundShift 5s infinite alternate-reverse
}

.banner img{
    width: 15%;
    height: 60%;
    margin-left: 3%;
    margin-top: 1.0%;
}

.streak-container{
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
    to right,#e92efb,#ff2079,#440bd4,#04005e);
    background-size: 300%;
    background-image: -100%;
    animation : backgroundShift 5s infinite alternate-reverse
}

@keyframes backgroundShift{
    from {
        background-position: 0%;
    }
    to {
        background-position: 100%;
    }
}

.streak-box{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-top: 3%;
}

.streak-number{
    width: 100%;
    height: 80%;
    background-color: #f6f6f6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streak-name{
    width: 100%;
    height: 20%;
    background-color: #1e1e1e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streak-number p{
    display: flex;
    align-content: center;
    justify-content:center;
    width: 25%;
    height: 45%;
    font-size: 1000%;
    margin-top: -50px;
}

.plus{
    display: block;
    width: 50px;
    height: 50px;  
    margin-top: 80px;
    margin-left: -80px;
    cursor: pointer;
}

.plus:active{
    transform:translateY(4px)
}

.minus{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: -80px;
    margin-top: -48px;
    cursor: pointer;
}

.minus:active{
    transform: translateY(4px);
}

.streak-name h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 200%;
    width: 70%;
}

.pencil{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 88%;
    margin-top: -10%;
    margin-bottom: 2%;
    color: white;
}

.pencil:hover{
    cursor: pointer;
}

.pencil:active{
    transform:translateY(2px)
}

.add-container{
    border-color: white;
    border-radius: 25px;
    border-style: solid;
    color: white;
    width: 6%;
    height: 4%;
    text-align: center;
    font-size: 150%;
    margin-top: 8%;
    cursor: pointer;
}

.add-container:active{
    transform: translateY(4px);
}

.color_container{
    float: right;
    margin-right: 3%;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.color_pallete_one{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    to right,#e92efb,#ff2079,#440bd4,#04005e);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_one:active{
    transform: translateY(4px);
}

.color_pallete_two{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    to right,#ddd429,#63c007,#fb33db,#0310ea);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_two:active{
    transform: translateY(4px)
}

.color_pallete_three{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    to right,#b9b605,#0496f7,#ff822e,#f21a1d);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_three:active{
    transform: translateY(4px)
}

.color_pallete_four{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    to right,#e300fc,#ce0f65,#ff5f01,#ce0000);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_four:active{
    transform: translateY(4px)
}

.color_pallete_five{
    display: inline-block;
    width: 9%;
    height: 50%;
    background-image: linear-gradient(
    to right,#bdbdfd,#bc7579,#535eeb,#00218a);
    border-radius: 100%;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.color_pallete_five:active{
    transform: translateY(4px)
}